.env
__pycache__
chest_xray
.vscode
features
*.npy
*.png
!results/*.npy

docs/*.log
docs/*.aux
docs/*.out
docs/*.toc
docs/*.gz
docs/*.blg
docs/*.bbl
docs/*.synctex.gz
docs/*.fdb_latexmk
docs/*.fls
docs/*.lof
docs/*.lot
docs/*.lol
docs/*.run.xml
docs/*.bcf
docs/*.xml
docs/*.nav
docs/*.snm
docs/*.bcf*
docs/*.equ
!docs/soc.tex
!docs/literatura.bib